OmniAuth.config.logger = Rails.logger

if Rails.env.production?

  Rails.application.config.middleware.use OmniAuth::Builder do
    provider :foursquare, 'client_id', 'client_secret'
  end

else #dev/test

  Rails.application.config.middleware.use OmniAuth::Builder do
    provider :foursquare, 'client_id', 'client_secret'
  end

end