<div id="group_wrap">
<% if @groups %>

  <h1>Groups</h1>
  <%= link_to 'Create a group of friends', new_group_path, id: "new_group", class: "btn new" %>

  <ul id="display_groups">
  <% if @groups.empty? %>
    <p>Please <%= link_to 'create a group of friends', new_group_path %> to find food with!</p>
  <% else %>
    <%= render 'groups/display_group' %>
  <% end %>
  </ul>

<% end %>

</div>