<h1>Privacy</h1>

<h2>What we collect</h2>

We save the details you provide to us in your account profile, including your name and email address. We won't disclose whatever you provide to anyone else unless you agree to have us do so, or we're required to do so by law.

<h2>What We Do With It</h2>

Aside from the obvious uses of your details to enable the functionality of the service, we use the information we collect to:
<ul>
<li>Improve website and system administration</li>
<li>Conduct research and development</li>
<li>Complete anonymous traffic analysis</li>
<li>This information is stored by trusted third party hosting providers.</li>
</ul>
Our Third party vendors, including Google, may also use cookies to serve ads based on your prior visits to this website.

You have the option to opt out of Google's use of cookies by visiting the Google advertising opt-out page.

The data we collect about you will only be used by us and our agents. Foodwithus hereby reserves the right to transfer any data collected in the event of an acquisition, full or partial, of the company or its assets.

If you have any questions about our privacy policies, please let us know.

<h2>Contact Us</h2>

Please contact us if you have questions about this policy.