/* 

  General style

*/

#new_group {
  float: right;
  margin-top: 4px;
}

#group_wrap h1 {
  margin: 0 0 10px 0;
  padding: 0;
}

ul#display_groups {
  list-style-type: none;
  padding: 0 0 0 20px;
}

ul#display_groups a.group_name {
  font-size: 160%;
  display: inline;
  border: none;
}

ul#display_groups .search_nearby {
  float: right;
  margin-bottom: 4px;
}

ul#display_groups li {
  padding: 20px;
  margin: 10px 10px 10px 0;
  background-color: #F4F6FB;
}

ul#display_groups li a {
  color: #100E2A;
  border: none;
}

.group_cuisines {
  font-style: italic;
  color: #30541C;
  padding: 0 10px;
}

/* 

  Form style

*/

.new_group_name {
  padding: 0 0 20px 0;
}

.new_group_name label {
  font-weight: bold;
  font-size: 160%;
}

.group_member {
  padding-bottom: 10px;
  border-top: 1px #ccc solid;
}

.group_member img {
  float: left;
  margin-right: 8px;
}

.group_member .member_name {
  font-size: 140%;
  float: left;
}

.group_member .member_categories {
  color: #ababab;
  font-style: italic;
  padding: 0 30px 0 50px;
}

.group_form input[type="checkbox"]
{
    display:none;
}

.group_form input[type=checkbox] + label {
  cursor: pointer;
  background-color: #eee;
  display: block;
  padding: 10px;
}

.group_form input[type=checkbox]:checked + label {
  cursor: pointer;
  color: #fff;
  background-color: green;
  display: block;
  padding: 10px;
}

.group_form input[type=checkbox]:checked + label:before {
  content: "✓";
  font-size: 140%;
  width: 30px;
  float: left;
}

/* 

  General style

*/

.show_nearby_venue {
  background-color: #eee;
  padding: 2px 30px;
  margin: 8px 0;
}