/* 

  General style

*/

#group_wrap h1 {
  margin: 0 0 10px 0;
  padding: 0;
}

ul#display_groups {
  list-style-type: none;
  padding: 0 0 0 20px;
}

ul#display_groups .group_name {
  font-size: 140%;
}

ul#display_groups li {
  padding: 5px 0;
  border-bottom: 1px #ccc solid;
}

.group_cuisines {
  font-style: italic;
  color: #888;
}

/* 

  Form style

*/

.group_name {
  padding: 0 0 20px 0;
}

.group_member {
  padding-bottom: 10px;
  border-top: 1px #ccc solid;
}

.group_member.picked {

}

.group_name label {
  font-weight: bold;
}

.group_form input[type="checkbox"]
{
    display:none;
}

.group_form input[type=checkbox] + label {
  background-color: #eee;
}

.group_form input[type=checkbox]:checked + label {
  color: #fff;
  background-color: green;
}