/*

  Sitewide Page styles

*/

#page-wrap {
  margin: 0 auto;
  width: 480px;
}

#page-wrap header, #page-wrap header a {
  color: #fff;
  background-color: rgb(0, 160, 210);
  padding: 20px 10px;
}

#page-wrap header .logo {
  font-size: 140%;
  text-decoration: none;
}

#page-wrap header nav {
  float: right;
  margin-top: 6px;
}

#content-wrap {
  padding: 20px;
}

#page-wrap footer a {
  color: #fff;
  padding-left: 10px;
}

#page-wrap footer {
  color: #fff;
  background-color: #3abde9;
  padding: 20px 20px;
}

.clearfix: after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/*

  Welcome Page styles

*/

body.welcome-page {
  background: url(bg-sushi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html body.welcome-page {
  background-color: transparent;
}

#welcome {
  margin-top: 100px;
}

#welcome, #welcome a {
  color: #222;
  text-align: center;
}

#welcome header a {
  text-decoration: none;
  font-size: 300%;
}

#welcome #tagline {
  font-size: 140%;
  padding: 0 30px;
}

#welcome #login {
  color: #fff;
  background-color: rgb(0, 160, 210);
  width: 300px;
  padding: 20px 10px;
  margin: 30px auto;
}

#welcome #login a {
  color: #fff;
}