<body class="welcome-page">

  <div id="welcome">
    <header><%= link_to 'Food With Us', root_path %></header>

    <p id="tagline">We help you decide where to eat nearby with friends.</p>
    <p id="login"><%= link_to "Login with Foursquare", login_path %> to get started.</p>